@use './fonts';

$font-face-heading: 'Urbanist', 'sans-serif';
$font-face-default: 'Arial', 'sans-serif';

// basic colors
$color-dark: #162A41;
$color-light: #fff;
$color-accent: #d0000b;
$color-light-text: #fdfdfd;